In [1]:
import pandas as pd
import numpy as np

In [2]:
import sqlite3

In [3]:
query = """
    CREATE TABLE test
    (a VARCHAR(20), b VARCHAR(20),
     c REAL,        d INTEGER
    );"""

In [4]:
con = sqlite3.connect("mydata.sqlite")

In [5]:
con.execute(query)

In [6]:
con.commit()

In [7]:
data = [("Atlanta", "Georgia", 1.25, 6),
            ("Tallahassee", "Florida", 2.6, 3),
            ("Sacramento", "California", 1.7, 5)]

In [8]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [9]:
con.executemany(stmt, data)

In [10]:
con.commit()

In [11]:
cursor = con.execute("SELECT * FROM test")

In [12]:
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [14]:
import sqlalchemy as sqla

In [15]:
db = sqla.create_engine("sqlite:///mydata.sqlite")

In [16]:
pd.read_sql("SELECT * FROM test", db)

AttributeError: 'OptionEngine' object has no attribute 'execute'