In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1, 2, 3, None])
s

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [4]:
s.dtype

dtype('float64')

In [5]:
s = pd.Series([1, 2, 3, None], dtype=pd.Int64Dtype())
s

0       1
1       2
2       3
3    <NA>
dtype: Int64

In [6]:
s.isna()

0    False
1    False
2    False
3     True
dtype: bool

In [7]:
s.dtype

Int64Dtype()

In [8]:
s = pd.Series(['one', 'two', None, 'three'], dtype=pd.StringDtype())
s

0      one
1      two
2     <NA>
3    three
dtype: string

In [9]:
df = pd.DataFrame({"A": [1, 2, None, 4],
                       "B": ["one", "two", "three", None],
                       "C": [False, None, False, True]})

In [10]:
df

     A      B      C
0  1.0    one  False
1  2.0    two   None
2  NaN  three  False
3  4.0   None   True

In [12]:
df["A"] = df["A"].astype("Int64")
df["B"] = df["B"].astype("string")
df["C"] = df["C"].astype("boolean")

In [13]:
df

      A      B      C
0     1    one  False
1     2    two   <NA>
2  <NA>  three  False
3     4   <NA>   True