In [1]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [2]:
#insertion 
d1[7] = "an integer"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [3]:
d1['b']

[1, 2, 3, 4]

In [4]:
#deletion 
d1[5]="some value"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [5]:
d1["dummy"] = "another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [6]:
del d1[5]

In [7]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [8]:
ret=d1.pop("dummy")
ret

'another value'

In [9]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [10]:
list(d1.keys())

['a', 'b', 7]

In [11]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [12]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [13]:
#You can merge one dictionary into another using the update method:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [14]:
tuples = zip(range(5), reversed(range(5)))
tuples

In [15]:
mapping={}
mapping=dict(tuples)

In [16]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [18]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter={}
for word in words:
    letter=word[0]  #takes the first alphabet of each word 
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [19]:
by_letter={}
for word in words:
    letter=word[0]
    by_letter.setdefault(letter, []).append(word)
    
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [20]:
#using list as a key 
d={}
d[tuple([1,2,3])]=5 #converted the list [1,2,3] to a tuple
d

{(1, 2, 3): 5}